<div class="container" [formGroup]="billForm">
  <h3 class="mt-1">Calculadora de despesas</h3>
  <mat-form-field appearance="legacy">
    <mat-label>Nome da conta</mat-label>
    <input
      matInput
      placeholder="Nome da conta"
      formControlName="name"
      autocomplete="off"
    />
    <mat-hint>Ex: Água, Internet, Energia</mat-hint>
  </mat-form-field>

  <mat-form-field class="mt-1">
    <mat-label>Período de faturação</mat-label>
    <mat-date-range-input [rangePicker]="picker1">
      <input
        matStartDate
        formControlName="start"
        autocomplete="off"
        placeholder="Data inicial"
      />
      <input
        matEndDate
        formControlName="end"
        autocomplete="off"
        placeholder="Data final"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-date-range-picker #picker1></mat-date-range-picker>
    <mat-error
      *ngIf="
        billForm.get('start')?.hasError('matStartDateInvalid') ||
        billForm.get('end')?.hasError('matEndDateInvalid')
      "
    >
      Intervalo de datas inválido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="mt-1">
    <mat-label>Valor a pagar</mat-label>
    <input
      matInput
      type="number"
      placeholder="Valor a pagar"
      formControlName="total"
      autocomplete="off"
    />
    <span matSuffix>€&nbsp;</span>
  </mat-form-field>

  <mat-divider class="mt-1"></mat-divider>

  <h3 class="mt-1">Pessoas</h3>

  <ng-container *ngIf="tenants.length">
    <p *ngFor="let tenant of tenants">
      <strong>{{ tenant.name }}:</strong> {{ tenant.value_pay.toFixed(2) }}&euro;
    </p>
  </ng-container>

  <button class="add" mat-raised-button color="primary" (click)="addPerson()">
    Adicionar pessoa à fatura
  </button>
</div>
